<a href="https://colab.research.google.com/github/Chaalal-anfel/search-engine/blob/master/model_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn import preprocessing

installation des bibliotèque nécessaire !!!!

# Nouvelle section

2. importation et lecture de fichier de données:

In [62]:
df = pd.read_csv('pos_data_en_march.csv')

In [63]:
print(df)

                   temps    alt      lat       lon   sog    cog  eng_stat  \
0    2022-03-19 16:45:02  512.3  35.1892 -0.618785   0.0  108.6         1
1    2022-03-19 16:45:06  512.3  35.1892 -0.618785   0.0  108.6         1
2    2022-03-19 16:48:12  482.6  35.1916 -0.617493  23.3   80.4         1
3    2022-03-19 16:48:37  479.6  35.1917 -0.615918  21.6   83.8         1
4    2022-03-19 18:17:41  469.6  35.1920 -0.614705   0.0  195.9         1
..                   ...    ...      ...       ...   ...    ...       ...
348  2022-03-20 12:09:19  488.2  35.1898 -0.617778   0.0  100.9         1
349  2022-03-20 12:09:21  488.2  35.1898 -0.617778   0.0  100.9         1
350  2022-03-20 12:09:26  503.5  35.1895 -0.617638  30.1  159.4         1
351  2022-03-20 12:09:36  504.0  35.1890 -0.617675  27.8  249.0         1
352  2022-03-20 12:10:01  488.8  35.1889 -0.618786  22.7  331.7         1

     error  panic_bt_stat  station_stat
0        1              0             0
1        1              0             0
2        1              0             0
3        1              0             0
4        0              0             0
..     ...            ...           ...
348      0              0             0
349      0              0             0
350      1              0             0
351      0              0             0
352      0              0             0

[353 rows x 10 columns]

3. description des colonnes du **dataframe** :

In [65]:
print('-'*50)
print("Columns in data")
print('-'*50)
print(df.columns.values)

--------------------------------------------------
Columns in data
--------------------------------------------------
['temps' 'alt' 'lat' 'lon' 'sog' 'cog' 'eng_stat' 'error' 'panic_bt_stat'
 'station_stat']

In [66]:
df.head()

,temps,alt,lat,lon,sog,cog,eng_stat,error,panic_bt_stat,station_stat
0,2022-03-19 16:45:02,512.3,35.1892,-0.618785,0.0,108.6,1,1,0,0
1,2022-03-19 16:45:06,512.3,35.1892,-0.618785,0.0,108.6,1,1,0,0
2,2022-03-19 16:48:12,482.6,35.1916,-0.617493,23.3,80.4,1,1,0,0
3,2022-03-19 16:48:37,479.6,35.1917,-0.615918,21.6,83.8,1,1,0,0
4,2022-03-19 18:17:41,469.6,35.1920,-0.614705,0.0,195.9,1,0,0,0

3. faire les modifications nécessaire 
   - changer le type de la colonne **temps** from string to datetime

In [67]:
print(df['temps'])

0      2022-03-19 16:45:02
1      2022-03-19 16:45:06
2      2022-03-19 16:48:12
3      2022-03-19 16:48:37
4      2022-03-19 18:17:41
              ...
348    2022-03-20 12:09:19
349    2022-03-20 12:09:21
350    2022-03-20 12:09:26
351    2022-03-20 12:09:36
352    2022-03-20 12:10:01
Name: temps, Length: 353, dtype: object

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353 entries, 0 to 352
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   temps          353 non-null    object
 1   alt            353 non-null    float64
 2   lat            353 non-null    float64
 3   lon            353 non-null    float64
 4   sog            353 non-null    float64
 5   cog            353 non-null    float64
 6   eng_stat       353 non-null    int64
 7   error          353 non-null    int64
 8   panic_bt_stat  353 non-null    int64
 9   station_stat   353 non-null    int64
dtypes: float64(5), int64(4), object(1)
memory usage: 27.7+ KB

In [69]:
df['temps']= pd.to_datetime(df['temps'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353 entries, 0 to 352
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   temps          353 non-null    datetime64[ns]
 1   alt            353 non-null    float64
 2   lat            353 non-null    float64
 3   lon            353 non-null    float64
 4   sog            353 non-null    float64
 5   cog            353 non-null    float64
 6   eng_stat       353 non-null    int64
 7   error          353 non-null    int64
 8   panic_bt_stat  353 non-null    int64
 9   station_stat   353 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(4)
memory usage: 27.7 KB

4. calcule de la différence en terme de seconde de chaque deux lignes succéssives de la colonne temps :

In [70]:
df['temps'] = df['temps'].view(int).div(1e9).diff().fillna(0).abs()
# la fonction abs() sera utile si l'ordre de fichier est descendant par rapport au collone temps
df['temps']=df.temps.abs()
print(df)

      temps    alt      lat       lon   sog    cog  eng_stat  error  \
0       0.0  512.3  35.1892 -0.618785   0.0  108.6         1      1
1       4.0  512.3  35.1892 -0.618785   0.0  108.6         1      1
2     186.0  482.6  35.1916 -0.617493  23.3   80.4         1      1
3      25.0  479.6  35.1917 -0.615918  21.6   83.8         1      1
4    5344.0  469.6  35.1920 -0.614705   0.0  195.9         1      0
..      ...    ...      ...       ...   ...    ...       ...    ...
348   163.0  488.2  35.1898 -0.617778   0.0  100.9         1      0
349     2.0  488.2  35.1898 -0.617778   0.0  100.9         1      0
350     5.0  503.5  35.1895 -0.617638  30.1  159.4         1      1
351    10.0  504.0  35.1890 -0.617675  27.8  249.0         1      0
352    25.0  488.8  35.1889 -0.618786  22.7  331.7         1      0

     panic_bt_stat  station_stat
0                0             0
1                0             0
2                0             0
3                0             0
4                0             0
..             ...           ...
348              0             0
349              0             0
350              0             0
351              0             0
352              0             0

[353 rows x 10 columns]

5. calcule de l'acceleration en foction de la variation de la vitesse et le temps:
- calcule de la variation de vitesse entre chaque 2 point en fonction de la vitesse moyenne et la vitesse maximale
- calcule de l'accéleration en terme de deux type de vitesse en ma convertant en seconds

In [71]:
df['sog_dif'] = df['sog'].diff().fillna(0).abs()
print(df)

      temps    alt      lat       lon   sog    cog  eng_stat  error  \
0       0.0  512.3  35.1892 -0.618785   0.0  108.6         1      1
1       4.0  512.3  35.1892 -0.618785   0.0  108.6         1      1
2     186.0  482.6  35.1916 -0.617493  23.3   80.4         1      1
3      25.0  479.6  35.1917 -0.615918  21.6   83.8         1      1
4    5344.0  469.6  35.1920 -0.614705   0.0  195.9         1      0
..      ...    ...      ...       ...   ...    ...       ...    ...
348   163.0  488.2  35.1898 -0.617778   0.0  100.9         1      0
349     2.0  488.2  35.1898 -0.617778   0.0  100.9         1      0
350     5.0  503.5  35.1895 -0.617638  30.1  159.4         1      1
351    10.0  504.0  35.1890 -0.617675  27.8  249.0         1      0
352    25.0  488.8  35.1889 -0.618786  22.7  331.7         1      0

     panic_bt_stat  station_stat  sog_dif
0                0             0      0.0
1                0             0      0.0
2                0             0     23.3
3                0             0      1.7
4                0             0     21.6
..             ...           ...      ...
348              0             0     20.6
349              0             0      0.0
350              0             0     30.1
351              0             0      2.3
352              0             0      5.1

[353 rows x 11 columns]

In [72]:
df['acceleration']=df['sog_dif']*0.27778/df['temps']
print(df)

      temps    alt      lat       lon   sog    cog  eng_stat  error  \
0       0.0  512.3  35.1892 -0.618785   0.0  108.6         1      1
1       4.0  512.3  35.1892 -0.618785   0.0  108.6         1      1
2     186.0  482.6  35.1916 -0.617493  23.3   80.4         1      1
3      25.0  479.6  35.1917 -0.615918  21.6   83.8         1      1
4    5344.0  469.6  35.1920 -0.614705   0.0  195.9         1      0
..      ...    ...      ...       ...   ...    ...       ...    ...
348   163.0  488.2  35.1898 -0.617778   0.0  100.9         1      0
349     2.0  488.2  35.1898 -0.617778   0.0  100.9         1      0
350     5.0  503.5  35.1895 -0.617638  30.1  159.4         1      1
351    10.0  504.0  35.1890 -0.617675  27.8  249.0         1      0
352    25.0  488.8  35.1889 -0.618786  22.7  331.7         1      0

     panic_bt_stat  station_stat  sog_dif  acceleration
0                0             0      0.0           NaN
1                0             0      0.0      0.000000
2                0             0     23.3      0.034797
3                0             0      1.7      0.018889
4                0             0     21.6      0.001123
..             ...           ...      ...           ...
348              0             0     20.6      0.035106
349              0             0      0.0      0.000000
350              0             0     30.1      1.672236
351              0             0      2.3      0.063889
352              0             0      5.1      0.056667

[353 rows x 12 columns]

6. calcule de la distance en fonction des parametre latitude et longitude :
- convertion en radian:

In [73]:
df['LAT_rad'], df['LON_rad'] = np.radians(df['lat']), np.radians(df['lon'])

- calcule de distance:

In [74]:
print(df.head(30))

     temps    alt      lat       lon   sog    cog  eng_stat  error  \
0      0.0  512.3  35.1892 -0.618785   0.0  108.6         1      1
1      4.0  512.3  35.1892 -0.618785   0.0  108.6         1      1
2    186.0  482.6  35.1916 -0.617493  23.3   80.4         1      1
3     25.0  479.6  35.1917 -0.615918  21.6   83.8         1      1
4   5344.0  469.6  35.1920 -0.614705   0.0  195.9         1      0
5      3.0  469.6  35.1920 -0.614705   0.0  195.9         1      0
6     49.0  481.1  35.1922 -0.614771  20.5  349.2         1      1
7     35.0  481.5  35.1930 -0.614560  22.4   79.1         1      0
8     44.0  475.4  35.1927 -0.612393  21.7  179.8         1      0
9     36.0  488.4  35.1908 -0.612390   2.5  186.7         1      0
10    44.0  494.6  35.1888 -0.612826  21.4  210.5         1      0
11    31.0  475.7  35.1882 -0.613743  22.5  295.1         1      0
12    25.0  472.6  35.1888 -0.615095  20.1  329.9         1      0
13    51.0  478.9  35.1906 -0.615903  20.3  260.4         1      0
14    38.0  488.7  35.1897 -0.617703  20.3  157.5         1      0
15    23.0  501.8  35.1891 -0.617481  12.6  225.0         1      0
16    37.0  497.6  35.1889 -0.618786  21.5  350.3         1      0
17  6185.0  492.0  35.1892 -0.618905   0.0  187.6         1      0
18     5.0  492.0  35.1892 -0.618905   0.0  187.6         1      0
19    88.0  501.3  35.1899 -0.618338  21.3   39.4         1      0
20    46.0  482.3  35.1914 -0.618166  20.3  352.3         1      0
21    44.0  476.2  35.1929 -0.615463  33.3   83.3         1      0
22     1.0  478.1  35.1926 -0.618151  22.4   74.2         1      0
23   101.0  477.4  35.1939 -0.607125  20.4    1.6         1      0
24    31.0  472.0  35.1970 -0.608686  59.2  330.5         1      0
25    79.0  472.9  35.2046 -0.613598  34.6  330.3         1      0
26    78.0  477.7  35.2103 -0.616546  33.5    3.0         1      0
27    27.0  471.3  35.2128 -0.616076  39.9   33.9         1      0
28    48.0  467.4  35.2168 -0.613223  31.5    2.2         1      0
29    59.0  460.7  35.2224 -0.612171  29.1    9.6         1      0

    panic_bt_stat  station_stat  sog_dif  acceleration   LAT_rad   LON_rad
0               0             0      0.0           NaN  0.614167 -0.010800
1               0             0      0.0      0.000000  0.614167 -0.010800
2               0             0     23.3      0.034797  0.614209 -0.010777
3               0             0      1.7      0.018889  0.614211 -0.010750
4               0             0     21.6      0.001123  0.614216 -0.010729
5               0             0      0.0      0.000000  0.614216 -0.010729
6               0             0     20.5      0.116214  0.614220 -0.010730
7               0             0      1.9      0.015079  0.614234 -0.010726
8               0             0      0.7      0.004419  0.614228 -0.010688
9               0             0     19.2      0.148149  0.614195 -0.010688
10              0             0     18.9      0.119319  0.614160 -0.010696
11              0             0      1.1      0.009857  0.614150 -0.010712
12              0             0      2.4      0.026667  0.614160 -0.010735
13              0             0      0.2      0.001089  0.614192 -0.010750
14              0             0      0.0      0.000000  0.614176 -0.010781
15              0             0      7.7      0.092996  0.614166 -0.010777
16              0             0      8.9      0.066817  0.614162 -0.010800
17              0             0     21.5      0.000966  0.614167 -0.010802
18              0             0      0.0      0.000000  0.614167 -0.010802
19              0             0     21.3      0.067235  0.614180 -0.010792
20              0             0      1.0      0.006039  0.614206 -0.010789
21              0             0     13.0      0.082071  0.614232 -0.010742
22              0             0     10.9      3.027802  0.614227 -0.010789
23              0             0      2.0      0.005501  0.614249 -0.010596
24              0             0     38.8      0.347673  0.614304 -0.010624
25              0             0     24.6      0.086499  0.614436 -0.010709
26              0             0      1.1      0.003917  0.614536 -0.010761
27              0             0      6.4      0.065844  0.614579 -0.010753
28              0             0      8.4      0.048611  0.614649 -0.010703
29              0             0      2.4      0.011300  0.614747 -0.010684

In [75]:
# vectorized haversine function
import numpy as np
def haversine(lat1, lon1, lat2, lon2, to_radians=True, earth_radius=6371):
    #if to_radians:
    #   lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])

    a = np.sin((lat2-lat1)/2.0)**2 + \
        np.cos(lat1) * np.cos(lat2) * np.sin((lon2-lon1)/2.0)**2

    return earth_radius * 2 * np.arcsin(np.sqrt(a))


df['dist'] = \
    haversine(df.LAT_rad.shift(), df.LON_rad.shift(),
                 df.loc[1:, 'LAT_rad'], df.loc[1:, 'LON_rad'])

In [76]:
print(df.head(30))

     temps    alt      lat       lon   sog    cog  eng_stat  error  \
0      0.0  512.3  35.1892 -0.618785   0.0  108.6         1      1
1      4.0  512.3  35.1892 -0.618785   0.0  108.6         1      1
2    186.0  482.6  35.1916 -0.617493  23.3   80.4         1      1
3     25.0  479.6  35.1917 -0.615918  21.6   83.8         1      1
4   5344.0  469.6  35.1920 -0.614705   0.0  195.9         1      0
5      3.0  469.6  35.1920 -0.614705   0.0  195.9         1      0
6     49.0  481.1  35.1922 -0.614771  20.5  349.2         1      1
7     35.0  481.5  35.1930 -0.614560  22.4   79.1         1      0
8     44.0  475.4  35.1927 -0.612393  21.7  179.8         1      0
9     36.0  488.4  35.1908 -0.612390   2.5  186.7         1      0
10    44.0  494.6  35.1888 -0.612826  21.4  210.5         1      0
11    31.0  475.7  35.1882 -0.613743  22.5  295.1         1      0
12    25.0  472.6  35.1888 -0.615095  20.1  329.9         1      0
13    51.0  478.9  35.1906 -0.615903  20.3  260.4         1      0
14    38.0  488.7  35.1897 -0.617703  20.3  157.5         1      0
15    23.0  501.8  35.1891 -0.617481  12.6  225.0         1      0
16    37.0  497.6  35.1889 -0.618786  21.5  350.3         1      0
17  6185.0  492.0  35.1892 -0.618905   0.0  187.6         1      0
18     5.0  492.0  35.1892 -0.618905   0.0  187.6         1      0
19    88.0  501.3  35.1899 -0.618338  21.3   39.4         1      0
20    46.0  482.3  35.1914 -0.618166  20.3  352.3         1      0
21    44.0  476.2  35.1929 -0.615463  33.3   83.3         1      0
22     1.0  478.1  35.1926 -0.618151  22.4   74.2         1      0
23   101.0  477.4  35.1939 -0.607125  20.4    1.6         1      0
24    31.0  472.0  35.1970 -0.608686  59.2  330.5         1      0
25    79.0  472.9  35.2046 -0.613598  34.6  330.3         1      0
26    78.0  477.7  35.2103 -0.616546  33.5    3.0         1      0
27    27.0  471.3  35.2128 -0.616076  39.9   33.9         1      0
28    48.0  467.4  35.2168 -0.613223  31.5    2.2         1      0
29    59.0  460.7  35.2224 -0.612171  29.1    9.6         1      0

    panic_bt_stat  station_stat  sog_dif  acceleration   LAT_rad   LON_rad  \
0               0             0      0.0           NaN  0.614167 -0.010800
1               0             0      0.0      0.000000  0.614167 -0.010800
2               0             0     23.3      0.034797  0.614209 -0.010777
3               0             0      1.7      0.018889  0.614211 -0.010750
4               0             0     21.6      0.001123  0.614216 -0.010729
5               0             0      0.0      0.000000  0.614216 -0.010729
6               0             0     20.5      0.116214  0.614220 -0.010730
7               0             0      1.9      0.015079  0.614234 -0.010726
8               0             0      0.7      0.004419  0.614228 -0.010688
9               0             0     19.2      0.148149  0.614195 -0.010688
10              0             0     18.9      0.119319  0.614160 -0.010696
11              0             0      1.1      0.009857  0.614150 -0.010712
12              0             0      2.4      0.026667  0.614160 -0.010735
13              0             0      0.2      0.001089  0.614192 -0.010750
14              0             0      0.0      0.000000  0.614176 -0.010781
15              0             0      7.7      0.092996  0.614166 -0.010777
16              0             0      8.9      0.066817  0.614162 -0.010800
17              0             0     21.5      0.000966  0.614167 -0.010802
18              0             0      0.0      0.000000  0.614167 -0.010802
19              0             0     21.3      0.067235  0.614180 -0.010792
20              0             0      1.0      0.006039  0.614206 -0.010789
21              0             0     13.0      0.082071  0.614232 -0.010742
22              0             0     10.9      3.027802  0.614227 -0.010789
23              0             0      2.0      0.005501  0.614249 -0.010596
24              0             0     38.8      0.347673  0.614304 -0.010624
25              0             0     24.6      0.086499  0.614436 -0.010709
26              0             0      1.1      0.003917  0.614536 -0.010761
27              0             0      6.4      0.065844  0.614579 -0.010753
28              0             0      8.4      0.048611  0.614649 -0.010703
29              0             0      2.4      0.011300  0.614747 -0.010684

        dist
0        NaN
1   0.000000
2   0.291553
3   0.143554
4   0.115164
5   0.000000
6   0.023034
7   0.090999
8   0.199722
9   0.211271
10  0.225892
11  0.106750
12  0.139809
13  0.213194
14  0.191757
15  0.069700
16  0.120659
17  0.035068
18  0.000000
19  0.093346
20  0.167523
21  0.296903
22  0.246527
23  1.012306
24  0.372748
25  0.955697
26  0.688080
27  0.281248
28  0.514786
29  0.629982

In [78]:
print(df.loc[:,['temps','sog','dist']])

      temps   sog      dist
0       0.0   0.0       NaN
1       4.0   0.0  0.000000
2     186.0  23.3  0.291553
3      25.0  21.6  0.143554
4    5344.0   0.0  0.115164
..      ...   ...       ...
348   163.0   0.0  0.107174
349     2.0   0.0  0.000000
350     5.0  30.1  0.035702
351    10.0  27.8  0.055699
352    25.0  22.7  0.101572

[353 rows x 3 columns]